<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="organization" class="com.vikastadge.spring.beans.Organization">
        <property name="name" value="${organization.name}"></property>
        <property name="departments">
            <list>
                <value>HR</value>
                <value>IT</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations" value="classpath:organization.properties"/>
    </bean>
</beans>
